body{
    background-color:beige;
    font-family:sans-serif;
}
.details{
    background-color: blanchedalmond;
    text-decoration: none;
    text-align: center;
    height: 300px;
    width:400px;
    margin: auto;
    border-radius: 50px;
}
.details-register{
    background-color: blanchedalmond;
    text-decoration: none;
    text-align: center;
    height: auto;
    width:400px;
    margin: auto;
    border-radius: 30px;
}
form{
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}
button{
    background-color: aqua;
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover{
    color:rgb(92, 174, 233)
}